<div class="py-8 bg-black"></div>
<div class="h-[110vh] bg-black w-full top-0">
    <div class="z-30 absolute top-24 left-[2%] md:left-[15%] h-[100%] flex flex-col justify-center items-center text-white text-3xl">
        <div class="rounded-full p-1" style="border: 2px solid rgba(255, 255, 255, 0.3);"></div>
        <div class="w-[1px] h-full justify-self-center" style="background: linear-gradient(transparent, #d19a3b 30%)"></div> 
        <em class="bx bx-user my-5 rounded-full hidden-text"></em>
        <div class="w-[1px] h-full rounded mx-auto" style="background: linear-gradient(#d19a3b, #a42d2d 80%, #b93f3f);"></div>
    </div>
    <div class="relative text-[#8c959f] top-[15%] left-[10%] md:left-[20%] my-auto text-5xl md:text-8xl w-auto hidden-text">
        <label class="text-[#d19a3b] font-semibold">Events from 2023</label>
        <div>
            <label class="text-xl xl:text-2xl flex"> Catch the moment.</label>
        </div>
    </div>
    <div class="relative text-white top-[35%] left-[10%] md:left-[20%] my-auto text-2xl w-auto hidden-text">
        <label class="text-[#8c959f] font-light w-auto">People who participate in these events</label>
        <div>
            <label class="text-xl xl:text-2xl flex font-semibold">You should to know.</label>
        </div>
        <em class='bx bx-right-arrow-alt relative top-11'></em>
        <div class="flex -left-9 gap-y-2 gap-x-5 mt-10 xs:w-[80%] md:w-[75%] overflow-scroll">
            <div class="w-40 h-56 border border-gray-800 bg-[#161b22] rounded p-[0.5px]" *ngFor="let member of profileList">
                <div class="flex justify-center items-center p-3">
                    <img src="{{member.profile}}" class="w-24 h-24 rounded-full object-fill" alt="{{member.name}}">
                </div>
                <div class="flex justify-center items-center py-2">
                    <label class="text-sm font-semibold text-[#ebf5ff] opacity-50">{{member.name}}</label>
                </div>
                <div class="flex justify-center items-center pt-3">
                    <button class="text-[#c9d1d9] text-sm font-semibold border border-gray-600 rounded px-4 py-2 m-1 opacity-50 bg-[#21262d] hover:bg-[#30363d] flex items-center transition duration-300 ease-in-out">
                        <em class="bx bx-library mr-1"></em>
                        information
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngFor="let items of eventList; let i = index" class="bg-black relative text-white h-screen">
    <div class="z-30 absolute left-[2%] -top-[1%] md:left-[15%] h-[100%] flex flex-col justify-center items-start text-white text-3xl">
        <a href="{{items.locationUrl}}" target="_blank" class="flex justify-start items-center text-red-400 relative -top-5">
            <em class="bx bx-map mr-1 text-red-400"></em><span >{{items.location}}</span>
        </a>
        <div class="w-[1px] h-[93%] rounded ml-[0.85rem]" style="background: linear-gradient(#d19a3b, #a42d2d 80%, #b93f3f);"></div>
    </div>
    <div class="text-white bg-[#131416] py-4 px-2 rounded max-w-[22rem] md:max-w-xl lg:max-w-4xl relative left-[8%] top-10 md:left-[17%]">
        <div class="grid gap-y-1 ml-1">
            <div class="text-lg md:text-2xl text-[#d19a3b] font-semibold lg:flex items-end">
                <span>{{items.eventname}}</span>
                <span class="flex justify items-center text-gray-500 xs:text-xs md:text-base md:mx-2">
                    <em class="bx bx-calendar mr-1 text-xs"></em>
                    {{items.date}}
                </span>
            </div>
            <h3 class="text-xs md:text-lg text-gray-300">{{items.description}}</h3>
        </div>
    </div>
    <div class="bg-[#131416] py-4 px-2 rounded max-w-[22rem] z-30 md:max-w-xl lg:max-w-6xl h-[70%] relative left-[8%] md:left-[17%] top-20">
        <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
            <ng-container *ngFor="let data of items.images; let i = index">
                <a href="{{data}}" class="gallery-item" attr.data-sub-html="{{''}}"> 
                    <img class="h-full w-full rounded object-cover" src="{{data}}" alt="{{items.eventname}}" [hidden]="!(i == 0)">
                    <em class="bx bx-search-alt-2 absolute bottom-[50%] right-[50%] pt-1 px-1.5 bg-black rounded-full text-xl md:text-2xl" [hidden]="!(i == 0)"></em>
                </a>
            </ng-container>
        </lightgallery>
    </div>
</div>
<!-- <div class="relative w-full text-center text-white bg-black h-[95dvh]">
    <div class="z-30 absolute top-[10%] h-[0.5px] w-full bg-[#dddddd]"></div>
    <section class="relative top-[10%] flex h-[80%] overflow-scroll ">
        <video class="h-full w-full object-cover hidden-text" [muted]="'muted'" loop autoplay playsInline [disablePictureInPicture]="true">
            <source src="../../../assets/WhatsApp Video/VID-20230527-WA0031.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <video class="h-full w-full object-cover hidden-text" [muted]="'muted'" loop autoplay playsInline>
            <source src="../../../assets/WhatsApp Video/VID-20230527-WA0000.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <video class="h-full w-full object-cover hidden-text" [muted]="'muted'" loop autoplay playsInline>
            <source src="../../../assets/WhatsApp Video/VID-20230228-WA0016.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <video class="h-full w-full object-cover hidden-text" [muted]="'muted'" loop autoplay playsInline>
            <source src="../../../assets/WhatsApp Video/VID-20230627-WA0021.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <label class=" hidden-text text-5xl xl:text-7xl absolute bottom-[50%] right-[40%] md:right-[44%]">EVENT</label>
    </section>
    <div class="z-30 absolute bottom-[5%] h-[0.5px] w-full bg-[#dddddd]"></div>
</div> -->

<!-- <div class="text-white text-7xl fixed top-[45%] flex items-center lg:w-80">
    <hr class="w-full">
    <span >Event</span>
    <hr class="w-full">
</div>
<div *ngFor="let items of eventList; let i = index" class="bg-black px-1 py-2 grid justify-center">
    <div class="text-white bg-[#131416] py-4 px-2 rounded max-w-4xl">
            <div class="grid gap-y-3 lg:text-lg xl:text-xl">
                <div class="grid gap-y-1 ml-1">
                    <div class="text-lg md:text-2xl text-[#d19a3b] font-semibold lg:flex items-end">
                        <span>{{items.eventname}}</span>
                        <span class="flex justify items-center text-gray-500 xs:text-xs md:text-base md:mx-2">
                            <em class="bx bx-calendar mr-1 text-xs"></em>
                            {{items.date}}
                        </span>
                    </div>
                    <h3 class="text-xs md:text-lg text-gray-300">{{items.description}}</h3>
                    <a href="{{items.locationUrl}}" target="_blank" class="flex justify items-center text-xs md:text-lg text-red-400 w-44 md:w-[40rem] lg:w-[50rem]">
                        <em class="bx bx-map mr-1 text-red-400"></em>
                    <span class="truncate ">{{items.location}}</span>
                    </a>
                </div>
                <div class="grid md:grid-cols-4 gap-1">
                    <div class="col-span-3 hidden md:grid">
                        <img class="h-full lg:h-[20rem] xl:h-[35rem] w-full rounded" src="{{items.highlightImage}}" alt="{{items.eventname}}">
                    </div>
                    <div class="col-span-1 grid gap-y-2 overflow-y-scroll cursor-n-resize max-h-[20rem] xl:max-h-[35rem]">
                    <img class="md:h-32 xl:h-52 w-full rounded md:hidden" src="{{items.highlightImage}}" alt="{{items.eventname}}">
                        <img *ngFor="let image of items.images" class="md:h-32 xl:h-52 w-full rounded" src="{{image}}" alt="{{items.eventname}}">
                    </div>
                </div>
                <div class="flex gap-x-3 overflow-scroll">
                    <img class="h-8 w-8 object-cover" src="https://cdn-icons-png.flaticon.com/512/12267/12267597.png" alt="join">
                    <span class="z-10 -mr-3 h-8 w-8 rounded-full border-2 border-[#d19a3b]" *ngFor="let join of items.join">
                        <img class="h-full w-full rounded-full object-cover" src="{{join}}" alt="{{items.eventname}}">
                    </span>
                </div>
            </div>
    </div>
</div> -->

