::-webkit-scrollbar{
  display: none;
}
.hidden-text{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-10%);
  transition: all 2s;
}
.show-text{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}