<!-- component -->
<div class="relative text-white text-center bottom-0">
  <footer class="absolute top-0 bg-black backdrop-blur-sm z-50 w-full">
      <div class="max-w-screen-xl px-4 py-12 mx-auto sm:px-6 lg:px-8">
        <div class="flex justify-center mb-3">
          <img class="text-white w-10 h-auto" src="../../../assets/yoga.png" alt="fitness.png">
        </div>
        <label class="lg:flex justify-center items-center">
          Thank you for visiting I wish everyone who visits to be <span class="text-[#d19a3b] mx-1">happy.</span> And after leaving this site, don't forget to <span class="text-[#d19a3b] mx-1">smile</span> often.
        </label>
      </div>
  </footer>
</div>