<div class="py-8 bg-black"></div>
<div class=" bg-black">
    <div class="container mx-auto">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide"  class="grid gap-4 items-stretch" *ngFor="let item of collectionList; let i = index">
                <ng-container *ngFor="let data of item.data; let j = index">
                    <a href="{{data.src}}" class="gallery-item" attr.data-sub-html="{{data.dataSubHtml}}"> 
                        <img class="img-responsive h-full max-w-full rounded-lg" src="{{data.src}}" />
                    </a>
                </ng-container>
            </lightgallery>
        </div>
        <!-- <div class="grid grid-cols-2 md:grid-cols-4 gap-4 items-stretch">
            <ng-container  *ngFor="let item of collectionList; let i = index">
                <ng-container  *ngFor="let data of item.data; let j = index">
                    <img class="img-responsive h- max-w-full rounded-lg" src="{{data.src}}" />
                </ng-container>
            </ng-container>
        </div> -->
    </div>
</div>
