::-webkit-scrollbar{
    display: none;
}
.hidden-text{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-10%);
    transition: all 1s;
}
.show-text{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.hidden-img{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-10%);
    transition: all 1s;
}
.show-img{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.logo:nth-child(2){
    transition-delay: 200ms;
}
.logo:nth-child(3){
    transition-delay: 400ms;
}
.logo:nth-child(4){
    transition-delay: 600ms;
}

.hidden-textY{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50%);
    transition: all 1s;
}
.show-textY{
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}
.button {
  background: linear-gradient(to right, #0f1923 50%, #d19a3b 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .4s ease-out;
}
.button:hover {
  background-position: left bottom;
  color:white
}
.buttonYell {
  background: linear-gradient(to right, #0f1923 50%, #FFFFFF 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .4s ease-out;
}
.buttonYell:hover {
  background-position: left bottom;
  color:white
}
.detail {
    position: relative;
    color: black;
    overflow: hidden;
    background: linear-gradient(to right, #d19a3b, #d19a3b 50%, black 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 405ms ease;
    text-decoration: none;
    &:hover {
      background-position: 0 100%;
    }
}
.box {
  position: relative;
  overflow: hidden;
}
.box::after {
  content: '';
  position: absolute;
  width: 145%;
  height: 1px;
  bottom: 0;
  left: -145%;
  background: linear-gradient(to right, #d19a3b 0%, #d19a3b 45%, #d19a3b 100%);
  z-index: 1;
  transition: left 0s;
}
.box:hover::after {
  left: 0%;
  transition: left 1s ease-in;
}
.instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}