<!-- <label for="menu" class="rounded-full p-3 border shadow-sm cursor-pointer absolute right-3 top-3">
    >>>
</label>
<input type="checkbox" name="menu" id="menu" /> -->
<aside class="w-60 -translate-x-48 fixed transition transform ease-in-out duration-1000 z-50 flex h-screen bg-[#2A2D34]">
  <!-- open sidebar button -->
  <div class="-right-6 transition transform ease-in-out duration-500 flex border-4 border-white bg-[#2A2D34] hover:bg-[#F26430] absolute top-2 p-3 rounded-full text-white hover:-scale-x-100">
    <em class="bx bx-landscape"></em>
  </div>
  <!-- MAX SIDEBAR-->
  <div class= "max hidden text-white mt-20 flex-col space-y-2 w-full h-[calc(100vh)]">
      <div class =  "hover:ml-4 w-full text-white hover:text-purple-500 bg-[#2A2D34] p-2 pl-8 rounded-full transform ease-in-out duration-300 flex flex-row items-center space-x-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-4 h-4">
              <path strokeLinecap="round" strokeLinejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>    
          <div>
              Home
          </div>
      </div>
      <div class =  "hover:ml-4 w-full text-white hover:text-purple-500 bg-[#2A2D34] p-2 pl-8 rounded-full transform ease-in-out duration-300 flex flex-row items-center space-x-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
          </svg>                      
          <div>
              Table
          </div>
      </div>
      <div class =  "hover:ml-4 w-full text-white hover:text-purple-500 bg-[#2A2D34] p-2 pl-8 rounded-full transform ease-in-out duration-300 flex flex-row items-center space-x-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z" />
          </svg>                      
          <div>
              Graph
          </div>
      </div>
  </div>
  <!-- MINI SIDEBAR-->
  <div class= "mini mt-20 flex flex-col space-y-2 w-full h-[calc(100vh)]">
      <div class= "hover:ml-10 justify-end pr-5 text-white hover:text-[#F26430] w-full bg-[#2A2D34] p-3 rounded-full transform ease-in-out duration-300 flex cursor-pointer">
        <em class="bx bx-home"></em> 
      </div>
      <div class= "hover:ml-10 justify-end pr-5 text-white hover:text-[#F26430] w-full bg-[#2A2D34] p-3 rounded-full transform ease-in-out duration-300 flex cursor-pointer">
        <em class="bx bx-id-card"></em> 
      </div>
      <div class= "hover:ml-10 justify-end pr-5 text-white hover:text-[#F26430] w-full bg-[#2A2D34] p-3 rounded-full transform ease-in-out duration-300 flex cursor-pointer">
        <em class="bx bx-cube-alt hover:rotate-90 duration-500"></em>
      </div>
      <div class= "hover:ml-10 justify-end pr-5 text-white hover:text-[#F26430] w-full bg-[#2A2D34] p-3 rounded-full transform ease-in-out duration-300 flex cursor-pointer">
        <em class="bx bx-tennis-ball"></em>
      </div>
      <div class= "hover:ml-10 justify-end pr-5 text-white hover:text-[#F26430] w-full bg-[#2A2D34] p-3 rounded-full transform ease-in-out duration-300 flex cursor-pointer">
        <em class="bx bx-table"></em>
      </div>
      <div class= "justify-end pr-5 text-white hover:text-[#F26430] w-full bg-[#2A2D34] p-3 rounded-full transform ease-in-out duration-300 flex cursor-pointer">
        <em class="bx bx-power-off"></em>
      </div>
  </div>
</aside>