.aside-menu {
    width: 80%;
    max-width: 280px;
    height: 100vh;
    padding: 1em;
    position: fixed;
    left: -14%;
    top: 0;
    background-color: darkorange;
    transition: left 0.45s ease-in-out;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        line-height: 1.5em;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  #menu {
    display: none;
  }
  #menu:checked + .aside-menu {
    left: 0;
  }