.hidden-text{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-10%);
    transition: all 1s;
}
.show-text{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.hidden-img{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-10%);
    transition: all 1s;
}
.show-img{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.logo:nth-child(2){
    transition-delay: 200ms;
}
.logo:nth-child(3){
    transition-delay: 400ms;
}
.logo:nth-child(4){
    transition-delay: 600ms;
}

.hidden-textY{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50%);
    transition: all 1s;
}
.show-textY{
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}
.button {
  background: linear-gradient(to right, #0f1923 50%, #d19a3b 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .4s ease-out;
}
.button:hover {
  background-position: left bottom;
  color:white
}