<app-header></app-header>
<!-- <router-outlet></router-outlet> -->
<div class="relative h-[100vh] lg:h-[100vh] bg-black w-full top-0">
    <div class="z-30 absolute top-0 left-[15%] h-[100%] w-[0.5px] bg-[#dddddd]"></div>
    <div class="absolute text-white text-xl hidden-text top-[20%] left-[20%] max-w-[60%] lg:max-w-[40%] xl:max-w-[65%] lg:text-4xl xl:text-7xl">
        <ngx-typed-js [strings]="words" [shuffle]="false" [typeSpeed]="100" [backSpeed]="50" [loop]="true" [cursorColor]="'#d19a3b'">
            <label class="typing text-[#d19a3b] font-semibold"> </label>
        </ngx-typed-js>
        <div class="mt-4 text-gray-300 text-sm lg:text-xl xl:text-2xl md:max-w-[60%] lg:max-w-[80%]">
            <label>Made to commemorate the year 2023, don't forget to give everyone in your yoga class, Be happy with what you get and the happy time continues.</label>
        </div>
    </div>
    <div class="relative top-[60%] md:top-[50%] lg:top-[55%] left-[25%] grid grid-cols-1 lg:grid-cols-3 gap-2 lg:gap-2 items-center w-7/12 lg:h-44 xl:h-80">
        <div class="logo hidden-img">
            <img class="rounded-lg w-full max-h-full lg:max-h-44 xl:max-h-80 " src="../../../assets/WhatsApp Images/IMG-20230526-WA0030.jpg"/>
        </div>
        <div class="logo hidden-img md:hidden lg:flex">
            <img class="rounded-lg w-full max-h-40 lg:max-h-44 xl:max-h-80 xs:hidden lg:flex" src="../../../assets/WhatsApp Images/IMG-20230526-WA0025.jpg"/>
        </div>
        <div class="logo hidden-img lg:flex sm:hidden">
            <img class="rounded-lg w-full max-h-40 lg:max-h-44 xl:max-h-80 xs:hidden lg:flex" src="../../../assets/WhatsApp Images/IMG-20230527-WA0054.jpg"/>
        </div>
        <div class="absolute bottom-[-3%] right-0 w-[100%] h-[0.5px] bg-[#dddddd] xs:hidden lg:flex"></div>
        <div class="absolute bottom-[-6%] right-0 w-[80%] h-[0.5px] bg-[#dddddd] xs:hidden lg:flex"></div>
    </div>
    <div class="absolute p-2 top-[15%] left-[15%] bg-[#d19a3b]"></div>
    <div class="absolute p-2 top-[35%] left-[15%] bg-[#d19a3b]"></div>
    <div class="absolute p-2 top-[55%] left-[15%] bg-[#d19a3b]"></div>
    <div class="absolute p-2 top-[75%] left-[15%] bg-[#d19a3b]"></div>
    <!-- <div class="z-30 absolute top-0 right-[15%] h-[100%] w-[1px] px-[1px] bg-[#d19a3b]"></div> -->
</div>
<div class="relative h-[75vh] md:h-[50vh] lg:h-[75vh] max-w-full bg-white">
    <div class="z-30 absolute bottom-0 left-[15%] h-[100%] w-[0.5px] bg-[#dddddd]"></div>
    <div class="hidden lg:grid select-none">
        <label class="absolute text-gray-200/60 lg:text-[12rem] xl:text-[20rem] left-[10%] lg:top-[-5%] xl:top-[-10%] font-semibold ">YOGA</label>
        <label class="absolute text-white lg:text-[12rem] xl:text-[20rem] left-[10%] lg:top-[-5%] xl:top-[-10%] ">YOGA</label>
    </div>
    <div class="z-30 absolute left-[15%] top-[8%] text-[#0f1923] h-full w-[70%] hidden-textY">
        <div class="text-xl lg:text-4xl xl:text-7xl left-[15%] font-semibold">
            <em class="bx bx-git-commit mr-2 text-[#d19a3b]"></em>
            <label>TIMELINE</label>
        </div>
        <div class="absolute md:w-[50%] left-[3%] p-2 text-sm lg:text-xl xl:text-2xl hidden-textY">
            <label>
                <label class="text-[#d19a3b]">Showcasing the beautiful moments that members of the yoga class spend </label>
                together at various times. To venture out and have fun in the world using the language of youth.
            </label>
            <div class="grid grid-cols-5 mt-[20%]">
                <button class="z-10 col-span-5 lg:col-start-3 lg:col-span-3 py-2 px-6 font-semibold button">CHECK TIMELINE</button>
                <div class="absolute w-[100%] lg:w-[63%] border py-7 lg:py-8 bottom-[-1%] right-[-1%]"></div>
                <div class="absolute w-[103%] lg:w-[65%] p-2 bottom-[7%] right-[-2%] bg-white"></div>
            </div>
        </div>
    </div>
    <div class="absolute bottom-[10%] right-[50%] w-[30%] md:top-[2%] md:right-[10%] md:w-[20%]">
        <label class="absolute top-[5%] left-[-3%] bg-[#d19a3b] py-1 px-5 xs:text-sm lg:text-xl font-semibold ">Bacardi</label>
        <video class="rounded-lg w-full shadow-xl" [muted]="'muted'" loop autoplay>
            <source src="../../../assets/WhatsApp Video/VID-20230527-WA0031.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
<div class="relative h-[80vh] max-w-full bg-[#d19a3b]">
    <div class="z-30 absolute bottom-0 left-[15%] h-[100%] w-[0.5px] bg-[#dddddd]"></div>
    <div class="absolute top-[50%] right-[40%] w-[40%] rotate-90 lg:top-[0%] lg:right-[60%] md:w-[30%] lg:w-[20%]">
        <label class="absolute top-[5%] left-[-3%] bg-black py-1 px-5 text-xl font-semibold text-white">Bacardi</label>
        <video class="rounded-lg w-full shadow-xl" [muted]="'muted'" loop autoplay>
            <source src="../../../assets/WhatsApp Video/VID-20230527-WA0031.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="-z-10 absolute bottom-[-9%] left-[12%] w-full h-full rounded-lg bg-gray-200 shadow"></div>
        <div class="-z-20 absolute bottom-[-17%] left-[27%] w-full h-full rounded-lg bg-gray-300 shadow"></div>
    </div>
    <div class="absolute right-[10%] top-[8%] text-[#0f1923] h-full w-[70%] lg:right-[15%] lg:top-[8%] hidden-textY">
        <div class="absolute w-[100%] right-[3%] p-2 lg:w-[50%]">
            <div class="text-xl font-semibold mb-3 text-[#0f1923] lg:text-4xl flex">
                <em class="bx bx-collection mr-2"></em>
                <label class="uppercase">Collections</label>
            </div>
            <label class="text-sm lg:text-xl xl:text-2xl">
                <label class="text-white">Showcasing the beautiful moments that members of the yoga class spend </label>
                together at various times. To venture out and have fun in the world using the language of youth.
            </label>
            <div class="grid grid-cols-5 mt-[20%]">
                <button class="z-10 col-span-5 lg:col-start-2 lg:col-span-3 py-1 px-5 lg:py-2 lg:px-6 font-semibold buttonYell uppercase text-lg lg:text:xl">Collections</button>
                <div class="absolute w-[100%] lg:w-[63%] border py-6 lg:py-8 bottom-[0%] lg:bottom-[-1%] right-[0%] lg:right-[18%]"></div>
                <div class="absolute w-[100%] lg:w-[65%] p-2 bottom-[6%] right-[0%] lg:right-[18%] bg-[#d19a3b]"></div>
            </div>
        </div>
    </div>
</div>
<div class="relative h-[100vh] max-w-full bg-white">
    <div class="relative left-[15%] bottom-[-4%] ml-1 h-16 text-xl font-semibold mb-3 text-[#0f1923] lg:text-4xl w-[69%] flex items-start justify-between z-10 hidden-text">
        <div class="flex items-center">  
            <em class="bx bx-group mr-2"></em>
            <label class="uppercase">Member</label>
        </div>
        <div class="flex items-center xs:text-sm md:text-base cursor-pointer detail box">
            <span>detail</span>
            <em class="bx bx-right-arrow-alt xs:text-base md:text-xl"></em>
        </div>
    </div>
    <div class="flex justify-center h-[90%]">
        <div class="z-30 absolute bottom-0 left-[15%] h-[100%] w-[0.5px] bg-[#dddddd]"></div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-3 gap-y-2 w-[69%] p-3 h-full overflow-y-visible overflow-x-hidden border-t-2 border-gray-100 broder drop-shadow-lg hidden-text">
            <ng-container *ngFor="let items of dataList">
                <div class="shadow-sm col-span-1 bg-white rounded border-[0.5px]">
                    <ng-container *ngIf="items.bg !== ''">
                        <div class="h-24 md:h-32 overflow-hidden bg-amber-300 rounded-t w-full">
                            <img class="h-auto w-full object-fill" src="{{items.bg}}" alt="items.name">
                        </div>
                    </ng-container>
                    <ng-container *ngIf="items.bg === ''">
                        <div class="h-24 md:h-32 overflow-hidden bg-amber-300 rounded-t w-full"></div>
                    </ng-container>
                    <div class="relative pl-2 bottom-[15%] grid grid-cols-3 items-center">
                        <img class="md:col-span-1 md:row-span-2 h-auto w-full rounded-full border-2 border-white" src="{{items.profile}}" alt="">
                        <label class="md:col-span-2 font-semibold text-lg"></label>
                        <label class="col-span-3 md:col-start-2 md:col-span-2 font-semibold text-lg line-clamp-1">{{items.name}}</label>
                    </div>
                    <div class="relative px-4 bottom-[13%]">
                        <label class="xs:text-xs md:text-sm text-gray-400 md:h-10 line-clamp-2">
                            {{items.detail}}
                        </label>
                        <div class="flex w-fit items-center font-medium cursor-pointer my-1 xs:text-sm md:text-base hover:text-[#25D366]">
                            <em class="bx bxl-whatsapp mr-1"></em>
                            <span>{{items.tel !== '' ? items.tel : '000-000-0000'}}</span>
                        </div>
                        <a href="{{items.fb.link ? items.fb.link : ''}}" target="_blank" class="flex w-fit items-center font-medium cursor-pointer my-1 text-gray-600 xs:text-sm md:text-base hover:text-[#385898]">
                            <em class="bx bxl-facebook-square mr-1"></em>
                            <span>{{items.fb.name  ? items.fb.name : 'facebook'}}</span>
                        </a>
                        <a href="{{items.ig.link ? items.ig.link : ''}}" target="_blank" class="flex w-fit items-center font-medium cursor-pointer my-1 xs:text-sm md:text-base instagram">
                            <em class="bx bxl-instagram mr-1"></em>
                            <span>{{items.ig.name}}</span>
                        </a>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<!-- <app-news></app-news> -->
<!-- <app-footer></app-footer> -->