<app-header></app-header>
<!-- <router-outlet></router-outlet> -->
<div class="z-30 absolute top-0 left-[15%] h-[100vh] w-[1px] px-[1px] bg-[#d19a3b]"></div>
<div class="hero">
    <div class="hero-text text-white hidden-text">
        <ngx-typed-js class="text-6xl" [strings]="words" [shuffle]="false" [typeSpeed]="100" [backSpeed]="50" [loop]="true" [cursorColor]="'#d19a3b'">
            <label class="text-6xl typing"> </label>
        </ngx-typed-js>
        <div class="mt-4 text-2xl text-gray-300">
            <!-- <label>เว็บไซต์นี้จัดทำขึ้นเพื่อเป็นที่ละรึกถึงความทรงจำในช่วงปี 2023 ที่ผ่านมา ให้กับคนในคลาสโยคะของคุณครู Tinker JingleBelle</label> -->
            <label>Made to commemorate the year 2023, don't forget to give everyone in your yoga class, Be happy with what you get and the happy time continues.</label>
        </div>
    </div>
    <div class="relative top-[55%] left-[25%] grid grid-cols-3 gap-2 items-center w-7/12 h-60">
        <div class="transition-all duration-200">
            <img class="hidden-img rounded-lg w-full max-h-60" src="https://pakorn-diode.github.io/prokemon-state-project/assets/WhatsApp Images/IMG-20230526-WA0030.jpg"/>
        </div>
        <div class="transition-all duration-500">
            <img class="hidden-img rounded-lg w-full max-h-60" src="https://pakorn-diode.github.io/prokemon-state-project//assets/WhatsApp Images/IMG-20230526-WA0025.jpg"/>
        </div>
        <div class="transition-all duration-700">
            <img class="hidden-img rounded-lg w-full max-h-60" src="https://pakorn-diode.github.io/prokemon-state-project//assets/WhatsApp Images/IMG-20230527-WA0054.jpg"/>
        </div>
        <div class=" absolute top-[105%] right-0 w-[100%] h-[1px] px-[1px] bg-[#d19a3b]"></div>
        <div class=" absolute top-[110%] right-0 w-[80%] h-[1px] px-[1px] bg-[#d19a3b]"></div>
    </div>
</div>
<div class="z-30 absolute top-0 right-[15%] h-[100vh] w-[1px] px-[1px] bg-[#d19a3b]"></div>
<app-news></app-news>
<!-- <app-footer></app-footer> -->