.hero{
    height:100vh;
    width: 100%;
    position: relative;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    // background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.126)), url("../../../assets/WhatsApp\ Images/IMG-20230526-WA0025.jpg");
}
.hero-text {
    position: absolute;
    top: 20%;
    left: 20%;
    width: auto;
    max-width: 40%;
    // background: linear-gradient(#00000017, #000000bd);
    padding: 1rem;
    border-radius: 2rem;
    transition: all 0.8s ease;
}

.hero-text:hover{
    color: #d19a3b;
}

.hidden-text{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-10%);
    transition: all 1s;
}
.show-text{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.hidden-img{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(50%);
    transition: all 1s;
}
.show-img{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}